WebClient/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AWT_Assgn1_T3_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AWT_Assgn1_T3_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typeno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommDetails" nillable="true" type="tns:CommDetails" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>